<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#cancel").click(function(){
        $("form").hide();
      });
        $("#new").click(function(){
        $("form").show();
      });
    });
    </script>
    <script>
    $(document).ready(function(){
        $("#new").on("click", function() {
            let textSwapping = $(this);
            if (textSwapping.text() == textSwapping.data("text-swap")) {
                textSwapping.text(textSwapping.data("text-original"));
        } else {
            textSwapping.data("text-original", textSwapping.text());
            textSwapping.text(textSwapping.data("text-swap"));
        }
       });
    });
    </script>
</head>
<body>

    <!--<div th:text="${error}"></div>-->
    <br>
    <br>

    <button id="new" data-text-original="New" data-text-swap="Add">New</button>
    <br>
    <br>

    <form hidden action="/makeAppt" method="POST" id="makeAppt">
        <button id="cancel">Cancel</button>
        <input name="date" placeholder="Enter Date YY-MM-DD" type="text">
        <input name="time" placeholder="Enter Time  HH:mm" type="text">
        <input name="description" placeholder="Enter Description" type="text">
        <input type="submit">
    </form>

    <br>
    <br>

    <form name="searchAppt" method="POST" action="appt_page.html">
        <input name="search" id=search type="text" value="Search descriptions">
        <button>Search</button>
    </form>

    <br>
    <br>

    <table>
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Description</td>
        </tr>
        <tr>
            <td th:each="${appointment.date}"></td>
            <td th:each="${appointment.time}"></td>
            <td th:each="${appointment.description}"></td>
        </tr>
    </table>

</body>
</html>